<h3>Step 2</h3>
<% if (step2.length>0){ %>
    <% step2.forEach(card =>{ %>
  <div id="<%=card.name%>-card" class="card mb-4" style="min-width: 10rem;">
    <img class="card-img-top m-2" src='<%=card.img%>' style="width:5rem; height:5rem; ;" alt="Card image cap">
    <div class="card-body" role="button">
      <h5 class="card-title"><input id="<%=card.name%>" type="radio">
        <label for="<%=card.name%>"><%=card.name%></label></h5>
      <p class="card-text"><%=card.text%></p>
    </div>
  </div>
  <% }) %>
<% } %>
