<div id="block1" style="padding: 1%; margin: 1% 0 4%; border: 2px solid #343A40; border-radius: 5px; flex: 1 1 auto; background-color: #FFFFFF;">

  <div style="margin: 1% 3%; padding: 2%; background-color: #F4F6F9; border-radius: 5px;">
    
    <div id="group1" class="card-deck">

      <% step1.forEach(card => { %>
        <div id="<%= card.service_name.replace(/\s+/g,'') %>-card" class="card group1 card-settings"  onclick="clickTheCard(this,1)" style="text-align: center; max-width: 204px;">
          <img class="card-img-top mx-auto mt-1" src='/img/<%=card.service_icon%>' style="width:5rem; height:5rem;" alt="Card image cap">
          <div class="card-body" role="button">
            <h6 class="card-title"><input id="<%=card.service_name%>" class="" name="radio1" value="<%=card.service_name%>" type="radio">
              <label for="<%=card.service_name%>"><%=card.service_name%></label></h6>
            <!-- <p class="card-text"><%#=card.service_desc%></p> -->
          </div>
        </div>
      <% }) %>

    </div>

  </div>

  <div id="block2" style="display:none; margin: 1% 3%; padding: 2%; background-color: #F4F6F9; border-radius: 5px;">
    
    <div id="group2" class="card-deck">

    </div>

  </div>

</div>