<!DOCTYPE html>
<html>

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <title> <%= title %></title>
  </head>

  <body style="height: 100vh; display: flex; flex-direction: column;">
    
    <div><%- include('admin/header.ejs', {active: "Profile"}); %></div>
      
    <div class="jumbotron text-center" style="background-color: #3EB489; margin-bottom: 0; border-radius: 0;">
        <h1><%=title%></h1>
        <!-- <p>Home Page</p> -->
    </div>
   
    <div class="container-fluid" style="flex: 1 1 auto;">
       
      <div class="row" style="height: 100%;">
       
        <section id="news_content" class="col-12" style="display: flex; flex-flow: column; background-color: #F4F6F9; height: 100%;">
              
          <div id="heading" style="padding: 2%; margin: 2% 0 1%; border: 2px solid #343A40; border-radius: 5px; text-align: center; background-color: #FFFFFF;">

            <h2>User Profile</h2>

          </div>

          <div style="padding: 1%; margin: 1% 0 2%; border: 2px solid #343A40; border-radius: 5px; flex: 1 1 auto; background-color: #FFFFFF;">

            <div style="margin: 1% 3%; padding: 2%; border-radius: 5px;">
                <h1>You are logged in</h1>
                <h1>Admin Profile</h1>
                <h2>Welcome <%= user.first_name %> <%= user.last_name %></h2>
                <a href="/logout" class="btn btn-info" role="button">Logout Button</a>

            </div>
          </div>
            </section>
          
  
  </body>
</html>