<!DOCTYPE html>
<html>
    <head>
          
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
      <title> <%= title %></title>

  </head>

  <body>

    <% if (permission == 1) { %>
      <div id="header"> <%-include('user/header.ejs', { active: 'Catalog' })%></div>
    <% } else { %>
      <div id="header"> <%-include('admin/header.ejs', { active: 'Catalog' })%></div>
    <% } %>

    <!-- <%# if (message) { %>
      <div style="text-align: center; margin-bottom: 0;"class="alert alert-<%#= message.type %>" role="alert">
          <strong><%#= message.intro %></strong> <%#= message.message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <%# } %> -->

    <% if (typeof catalogMessages != "undefined" && catalogMessages.length > 0) { %>
      <div id='catalogAlert' class="alert alert-success"><%= catalogMessages %></div>
    <% } %>
    
    <div style="height: 100%;">

      <div class="row" style="height:100%; margin: 0;">

        <section id="display_content" class="col-9" style="display: flex; flex-flow: column; background-color: #F4F6F9;">
          
          <div id="heading" style="padding: 2%; margin: 2% 0 1%; border: 2px solid #343A40; border-radius: 5px; text-align: center; background-color: #FFFFFF;">

            <h2 id="current_stage">Database Engine</h2>

          </div>
          
          <form id="addForm" class="form-horizontal" method="post" action="/submit">   
            <div id="step1"> <%-include('partials/step1partial.ejs')%></div>
            <div id="step3"> <%-include('partials/step3partial.ejs')%></div>
            <div id="step4"> <%-include('partials/step4partial.ejs')%></div>
            <div id="step5"> <%-include('partials/step5partial.ejs')%></div>
            <div id="step6"> <%-include('partials/step6partial.ejs')%></div>
            <div id="step7"> <%-include('partials/step7partial.ejs')%></div>
            <div id="step8"> <%-include('partials/step8partial.ejs')%></div>
            <div id="submitBtn"> <%-include('partials/submit.ejs')%></div>
          </form>

        </section>

        <section id="details" class="col-3 right" style="background-color: #343A40; padding: 2% 0;">
          
          <h4 style="color:white; text-align: center; padding: 8% 1% 10%; border-bottom: 2px solid white;">Service Details</h4>
          
          <div style="padding-top: 2%;">
            <%stages.forEach(stage => { %>
              <h4 id="stage<%= stage.stage_id %>" class="stages" style=" color:white;  text-align: center; margin-bottom: 5%;"><%=stage.stage_name%></h4>
              <p id="<%= stage.stage_name.replace(/\s+/g,'') %>1" style="font:status-bar; font-weight: bold; font-size: 120%; background-color: #3EB489; padding: 0 5%; ">-------------------------------</p>
              <p id="<%= stage.stage_name.replace(/\s+/g,'') %>2" style="font:status-bar; font-weight: bold; font-size: 120%; background-color: #3EB489; padding: 0 5%; display:none"></p>

            <% }) %>
          </div>
          
        </section>

      </div>

    </div>
    
    <script src="scripts/index.js"></script>

  </body>
</html>
