<!DOCTYPE html>
<html>
    <head>
          
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        
      <title> <%= title %></title>

      <!-- Scripts -->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  </head>

  <body>

    <div id="header"> <%-include('user/header.ejs', { active: 'Catalog' })%></div>

    <!-- <%# if (message) { %>
      <div style="text-align: center; margin-bottom: 0;"class="alert alert-<%#= message.type %>" role="alert">
          <strong><%#= message.intro %></strong> <%#= message.message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <%# } %> -->

    <% if (typeof catalogMessages != "undefined" && catalogMessages.length > 0) { %>
      <div id='catalogAlert' class="alert alert-success"><%= catalogMessages %></div>
    <% } %>
    
    <div style="height: 100%;">

      <div class="row" style="height:100%; margin: 0;">

        <section id="display_content" class="col-9" style="display: flex; flex-flow: column; background-color: #F4F6F9;">
          
          <div id="heading" style="padding: 2%; margin: 2% 0 1%; border: 2px solid #343A40; border-radius: 5px; text-align: center; background-color: #FFFFFF;">

            <h2 id="current_stage">Database Engine</h2>

          </div>
          
          <form id="addForm" class="form-horizontal" method="post" action="/submit">   
            <div id="step1"> <%-include('partials/step1partial.ejs')%></div>
            <div id="step3"> <%-include('partials/step3partial.ejs')%></div>
            <div id="step4"> <%-include('partials/step4partial.ejs')%></div>
            <div id="step5"> <%-include('partials/step5partial.ejs')%></div>
            <div id="step6"> <%-include('partials/step6partial.ejs')%></div>
            <div id="step7"> <%-include('partials/step7partial.ejs')%></div>
            <div id="step8"> <%-include('partials/step8partial.ejs')%></div>
            <div id="submitBtn"> <%-include('partials/submit.ejs')%></div>
          </form>

        </section>

        <section id="details" class="col-3 right" style="background-color: #343A40; padding: 2% 0;">
          
          <h4 style="color:white; text-align: center; padding: 8% 1% 10%; border-bottom: 2px solid white;">Service Details</h4>
          
          <div style="padding-top: 2%;">
            <%stages.forEach(stage => { %>
              <h4 id="stage<%= stage.stage_id %>" class="stages" style=" color:white;  text-align: center; margin-bottom: 5%;"><%=stage.stage_name%></h4>
              <p id="<%= stage.stage_name.replace(/\s+/g,'') %>1" style="font:status-bar; font-weight: bold; font-size: 120%; background-color: #3EB489; padding: 0 5%; ">-------------------------------</p>
              <p id="<%= stage.stage_name.replace(/\s+/g,'') %>2" style="font:status-bar; font-weight: bold; font-size: 120%; background-color: #3EB489; padding: 0 5%; display:none"></p>

            <% }) %>
          </div>
          
        </section>

      </div>

    </div>
    
    <script src="scripts/index.js"></script>

  </body>
</html>
