<!DOCTYPE html>
<html>

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <title> <%= title %></title>
  </head>

  <body>
      <div class="jumbotron text-center">
          <h1><%=title%></h1>
          <p>Select Your Desired Database Below</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div class="card-deck">
              <!--<div id="step1" > <%-include('partials/step1partial.ejs')%></div>
              <div id="step2" class="collapse"> <%-include('partials/step2partial.ejs')%></div>-->

              <div id="step1" > <%-include('partials/step1.ejs')%></div>
              <div id="step2"  > <%-include('partials/step2.ejs')%></div>
              <div id="step2cloud"  > <%-include('partials/step2cloud.ejs')%></div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Service Details</h5>
                <p class="card-text" id="step1-text">Choose a Database Service.</p>
                <p  id="step2-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
        $('input:radio').change(function () {//Clicking input radio
            var radioClicked = $(this).attr('id');
            unclickRadio();
            removeActive();
            clickRadio(radioClicked);
            makeActive(radioClicked);

        });
        $(".card").click(function () {//Clicking the card
            var inputElement = $(this).find('input[type=radio]').attr('id');
            unclickRadio();
            removeActive();
            makeActive(inputElement);
            clickRadio(inputElement);
            $('#id-text').html(inputElement);
        });
    });
    $(".card").click(function () {//Clicking the card
        var inputElement = $(this).find('input[type=radio]').attr('id');
        unclickRadio();
        removeActive();
        makeActive(inputElement);
        clickRadio(inputElement);

        cardCheck(inputElement);
        changeText(inputElement);
    });


function unclickRadio() {
    $("input:radio").prop("checked", false);
}

function clickRadio(inputElement) {
    $("#"+inputElement).prop("checked", true);
}

function removeActive() {
    $(".card").removeClass("active");
}

function makeActive(element) {
    $("#" + element + "-card").addClass("active");
}




  function cardCheck(element){
    switch(element) {
  case "On-Prem-Database":
  $("#s2-1").collapse('show');
  $("#s2-2").collapse('hide');
    break;
  case "Cloud-Database":
  $("#s2-1").collapse('hide');
  $("#s2-2").collapse('show');
    break;
  case "Replication-Goldengate":
    
    break;
  default:
      Console.log("Error");
}
  }

  function changeText(element){
  
    var id = document.getElementById(element);


    if(document.getElementById("step1").contains(id)){
      $('#step1-text').html(element);
    }
    else if(document.getElementById("step2").contains(id)){
      $('#step2-text').html(element);
    }
    else if(document.getElementById("step2Cloud").contains(id)){
      $('#step2-text').html(element);
    }
    else{
      $('#step2-text').html("Can't find class");
    }

  }

    function unclickRadio() {
        $("input:radio").prop("checked", false);
    }

    function clickRadio(inputElement) {
        $("#"+inputElement).prop("checked", true);
    }

    function removeActive() {
        $(".card").removeClass("active");
    }

    function makeActive(element) {
        $("#" + element + "-card").addClass("active");
    }

    /*$("#step1").click(function(){
        $("#step1").collapse('hide');
        $("#step2").collapse('show');
        document.getelementbyId('step2').scrollIntoView();
      });*/
  </script>

</body>
</html>