<!DOCTYPE html>
<html>

    <head>
          
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        
        <title> <%= title %></title>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    </head>

    <body>

      <div id="header"> <%-include('user/header.ejs')%></div>
      
      <div class="jumbotron text-center">
          <h1><%=title%></h1>
          <p>Select Your Desired Database Below</p>
      </div>

      <%if(message){ %>
          <div style="text-align: center;"class="alert alert-<%= message.type %>" role="alert">
              <strong><%= message.intro %></strong> <%= message.message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      <% } %>

      <div class="container-fluid">
        <div class="row">

          <section id="section1" class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <form id="addForm" class="form-horizontal" method="post" action="/submit">   
                  <div id="step1"> <%-include('partials/step1.ejs')%></div>
                  <div id="step2"> <%-include('partials/step2.ejs')%></div>
                  <div id="step2cloud"> <%-include('partials/step2cloud.ejs')%></div>
                  <div id="step3"> <%-include('partials/step3.ejs')%></div>
                  <div id="step4"> <%-include('partials/step4.ejs')%></div>
                  <div id="step5"> <%-include('partials/step5.ejs')%></div>
                  <div id="step6"> <%-include('partials/step6.ejs')%></div>
                  <div id="step7"> <%-include('partials/step7.ejs')%></div>
                  <div id="step8"> <%-include('partials/step8.ejs')%></div>
                  
                  <div id="emailAlert" style="text-align: center; display: none;"class="alert alert-danger" role="alert">
                      <strong>Wrong Format</strong> Please enter the manager email in an email format
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>

                  <div id="submit"> <%-include('partials/submit.ejs')%></div>
                </form>
              </div>
            </div>
          </section>

          <div id="servDetails" class="col-md-2" style="min-width: 300px;">
            <div id="details" class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Service Details</h5>
                <div id="detail-div" style="display: block;">
                  <p class="card-text" name="step1" id="step1-text">Choose a Database Service.</p>
                  <p class="card-text" name="step2"id="step2-text"></p>
                  <p class="card-text" name="step3"id="step3-text"></p>
                  <p class="card-text" name="step4"id="step4-text"></p>
                  <p class="card-text" name="step5"id="step5-text"></p>
                  <p class="card-text" name="step6"id="step6-text"></p>
                  <p class="card-text" name="step7"id="step7-text"></p>
                  <p class="card-text" name="step8"id="step8-text"></p>
                  <p><%stages.forEach(stage => { %>
                    <h4 id="<%= stage.stage_id %>" class="stages"><%=stage.stage_name%></p>
                  <% }) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script src="scripts/index.js"></script>

    </body>
</html>
